:root {
    --fontFam: Inter;
}

#logo {
    background-color: black;
    color: white;
    padding-right: 1vh;
    padding-left: 1vh;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  .centered p {
    color: #FFF;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    font-size: 3.5vh;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    font-family: var(--fontFam);
  }
  
  .nav-item :hover {
    text-decoration: underline;
  }

  
#image {
  background-image: url("/De-reuck_website_New/client/assets/output-onlinejpgtools.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.home {
  background-image: url("/De-reuck_website_New/client/assets/image-2500x1600.jpg");
  max-width: 100%;
  height: 80%;
  height: auto;
  background-color: red;
}

#images {
  background-image: url("/De-reuck_website_New/client/assets/accounting-_-bsacc.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(80%);
  
  
}

.centered {
    color: #FFF;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    font-size: 8vh;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    font-family: var(--fontFam);
}

#myForm {
  background-color: rgb(84, 84, 84);
  padding: 1.5rem;
  border-radius: 2rem;
  opacity: 0.99;
}

#servicesR {
  background-image: url("/De-reuck_website_New/client/assets/KDR\ besigheid\ 7.jpg");
  background-repeat: no-repeat;
  filter: grayscale();
  padding: 5rem;
}

.servicesC {
 border-radius: 2rem;
  
}

#about {
  padding: 0;
}

#aboutR {
  background-color: lightgrey;
  border-radius: 1rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 2rem;
  font-size: large;
}

.maps {
  margin-top: 2rem;
}

.fBook {
  text-decoration: none;
  color: black;
  font-size: 4rem;
  padding-right: 2rem;
}

.linkedIn {
  text-decoration: none;
  color: black;
  font-size: 4rem;
}

.button:hover {
  background-color: black;
  color: white;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: xx-small;
  padding-top: 2rem;
  
}

.myIcons {
  margin-right: 1rem;
}

.socialMedia {
  float: left;
}

.socialMedia:hover {
  color: white;
}

.services {
  padding-top: 15rem;
}
